@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
    padding-left: 30px;
    background-image: url('/images/email.svg');
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 